{{! MRF Custom Footer }}
<footer class="mrf-footer">
  <div class="mrf-footer-content">
    <div class="mrf-footer-section">
      <h4>{{i18n "mrf.footer.about" default="About"}}</h4>
      <ul>
        <li><a href="https://www.mineralrightsforum.com/about">{{i18n "mrf.footer.about_mrf" default="About MRF"}}</a></li>
        <li><a href="https://www.mineralrightsforum.com/guidelines">{{i18n "mrf.footer.guidelines" default="Community Guidelines"}}</a></li>
        <li><a href="https://www.mineralrightsforum.com/privacy">{{i18n "mrf.footer.privacy" default="Privacy Policy"}}</a></li>
      </ul>
    </div>

    <div class="mrf-footer-section">
      <h4>{{i18n "mrf.footer.support" default="Support"}}</h4>
      <ul>
        <li><a href="https://www.mineralrightsforum.com/contact">{{i18n "mrf.footer.contact" default="Contact"}}</a></li>
        <li><a href="https://www.mineralrightsforum.com/faq">{{i18n "mrf.footer.faq" default="FAQ"}}</a></li>
        <li><a href="https://www.mineralrightsforum.com/status">{{i18n "mrf.footer.status" default="Status"}}</a></li>
      </ul>
    </div>

    <div class="mrf-footer-cta">
      <p>{{i18n "mrf.footer.theme_switch" default="Prefer the classic view?"}}</p>
      <a href="#" class="mrf-theme-toggle" data-theme="default">{{i18n "mrf.footer.switch_theme" default="Switch themes"}}</a>
    </div>
  </div>

  <div class="mrf-footer-bottom">
    <p>© {{current-year}} Mineral Rights Forum. All rights reserved.</p>
  </div>
</footer>


<script>
  document.querySelectorAll('.mrf-theme-toggle').forEach(link => {
    link.addEventListener('click', function(e) {
      e.preventDefault();
      // Theme switcher logic will be handled by opt-in component
      const event = new CustomEvent('mrf:toggleTheme');
      document.dispatchEvent(event);
    });
  });
</script>
